body {
  margin: 0;
  --font-family: Impact, Charcoal, sans-serif;
  font-family: var(--font-family);
  --primary-color: #1e2a38;
  --primary-variant-color: #151E28;
  --secondary-color: #ff9bcd;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  --header-height: 50px;
  height: var(--header-height);
  display: flex;
  text-transform: uppercase;
  white-space: nowrap;
  border-bottom: 1px solid var(--primary-color);
}

main {
  background-color: #eee;
}

header .logo-container {
  display: flex;
  align-items: center;
  background-color: var(--primary-variant-color);
  color: white;
  text-transform: lowercase;
  padding: 5px;
  box-sizing: border-box;
}
header h1 {
  font-size: larger;
  margin: 15px;
}
header .logo-img-container {
  height: calc(var(--header-height) - 10px);
  width: calc(var(--header-height) - 10px);
  display: flex;
  justify-content: center;
}
header #header-img {
  height: 100%;
  width: auto;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: 1s cubic-bezier(0, 1, 1, 1); /* Hover off */
}
.nav-link:hover {
  background-color: var(--secondary-color);
  transition: 0s; /* Hover on */
}
nav ul li {
  height: 100%;
}
section {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

#discount {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
}
#discount > * {
  margin: 15px;
}
#discount #email {
  border: 0;
  height: 30px;
  box-sizing: border-box;
}
#discount [type="submit"] {
  width: 80px;
  height: 30px;
  font-size: medium;
  border: 0;
  background-color: var(--secondary-color);
}

#features {
  justify-content: space-around;
  flex-direction: row;
}

.card {
  display: flex;
  flex-basis: 450px;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #999;
}
.card p {
  margin-top: 0;
}

#features .card {
  flex-basis: 33%;
}
#features > * img {
  height: 150px;
  max-width: 150px;
}

#how-they-do-it .card {
  flex-basis: unset;
}
#how-they-do-it #video {
  border-radius: 5px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  section {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  #features {
    flex-direction: column;
  }
  header {
    height: unset;
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    width: 100%;
  }
  .nav-link {
    justify-content: center;
  }
  header .logo-container {
    height: var(--header-height);
  }
}
